<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT watts ANY>
<!ATTLIST watts id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1059" key="26c77c30-9e0a-46ee-b857-7981179b4d54" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-08-22T14:53:53" updateDate="2020-08-23T13:21:46" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1056" creatorName="25 Watts" writerName="25 Watts" writerID="0" template="1052" nodeTypeAlias="Home">
    <siteTitle><![CDATA[25 Watts - Prueba Tecnica]]></siteTitle>
    <siteLogo><![CDATA[/media/1042/logo25watts.png]]></siteLogo>
    <siteDescription><![CDATA[Sitio desarrollado por Adolfo Pra como prueba tecnica de reclutamiento de 25 Watts]]></siteDescription>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "config": {},
              "styles": {
                "margin-bottom": "60px"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": "Prueba Tecnica 25 Watts",
                  "editor": {
                    "alias": "banner_headline"
                  },
                  "active": false
                },
                {
                  "value": "Este sitio fue desarrollado por Adolfo Pra como prueba de reclutamiento para 25 Watts",
                  "editor": {
                    "alias": "banner_tagline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1044/14441035391_7ee1d0d166_h_darken.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "hasConfig": true,
          "id": "d28a05da-2404-c1e7-6265-01b07fc5f722"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h1>Ideas con Luz Propia </h1>\n<p><span>Creemos que la comunicación es lo que mueve al mundo, por eso entendemos que un concepto inteligente y creativo debe ser apoyado con resultados medibles.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h1>Inteligencia Digital</h1>\n<ul>\n<li><strong>MEJOR</strong><br /><span>AGENCIA DIGITAL 2015</span><br /><span>Infonegocios</span></li>\n<li><span><strong>1er AGENCIA CORDOBESA</strong><br /><span>VALIDADA CON CASO DE ÉXITO</span><br /><strong><span>en</span><span> </span>FACEBOOK BUSINESS</strong></span></li>\n<li><span>AGENCIA SELECCIONADA PARA</span><br /><strong>GOOGLE PARTNER LEADS 2016<br />SILICON VALLEY</strong></li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1023/form-bg.png)"
          },
          "config": {
            "class": "light"
          },
          "hasConfig": true,
          "id": "5362ea7d-e729-078b-e717-a1e7aa69fd4b"
        },
        {
          "name": "Full width image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_wide_cropped",
                "media_wide"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1127,
                    "image": "/media/1046/14386124825_d43f359900_h_cropped.jpg"
                  },
                  "editor": {
                    "alias": "media_wide"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "hasConfig": true,
          "id": "953b3802-6b4f-20ed-66f9-9a855e9afdd4"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2 style=\"text-align: left;\">Nuestros Servicios</h2>\n<ul>\n<li>\n<h2>ECOMMERCE</h2>\n</li>\n<li>\n<h2>DESARROLLO WEB</h2>\n</li>\n<li>\n<h2>MARKETING DIGITAL</h2>\n</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h2>Nuestros Clientes </h2>\n<ul>\n<li>\n<h2>New Balance</h2>\n</li>\n<li>\n<h2>Universidad Siglo XXI</h2>\n</li>\n<li>\n<h2>Muchos Mas...</h2>\n</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "purple"
          },
          "hasConfig": true,
          "id": "29cac0ff-d8e9-605b-9e7b-6809dce55edd"
        },
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<h1 style=\"text-align: center;\">25 Watts</h1>\n<h5 style=\"text-align: center;\">Cada vez son mas los clientes que confian en la propuesta que ofrecemos.</h5>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1028/14435732345_c9f5b48dfa_h_dark.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "hasConfig": true,
          "id": "0093bd05-735a-9623-8509-28085818745c"
        }
      ]
    }
  ]
}]]></content>
    <LandingPage id="1075" key="1ce620e4-1359-4c61-8cdd-18bd688085c9" parentID="1059" level="2" creatorID="0" sortOrder="4" createDate="2020-08-22T14:53:54" updateDate="2020-08-23T13:22:17" nodeName="Contacto" urlName="contacto" path="-1,1059,1075" isDoc="" nodeType="1057" creatorName="25 Watts" writerName="25 Watts" writerID="0" template="1053" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Image w. text",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "banner_headline",
                "rte",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\"><strong><a href=\"http://www.25watts.com.ar\" target=\"_parent\" title=\"25 Watts\">www.25watts.com.ar</a></strong></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<h5 style=\"text-align: center;\">Aqui el sitio web donde podras encontrar toda la informacion relacionada con 25Watts</h5>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-image": "url(/media/1036/1912289_753997844648209_7099291360101379579_o.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "hasConfig": true,
          "id": "d827c464-3074-0ddf-f57f-0fdc73a7c1ea"
        },
        {
          "name": "Wide image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_wide",
                "media_wide_cropped"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.4825,
                      "top": 0.6067415730337079
                    },
                    "id": 1119,
                    "image": "/media/1037/9015601712_72e44263e4_b.jpg"
                  },
                  "editor": {
                    "alias": "media_wide_cropped"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "hasConfig": true,
          "id": "9e6631ec-ae55-1949-94ae-dc232e421489"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <watts id="1083" key="416571dd-8dd3-4bfb-b168-8d0d4a8551b6" parentID="1059" level="2" creatorID="0" sortOrder="5" createDate="2020-08-22T15:10:20" updateDate="2020-08-23T13:43:38" nodeName="25Watts" urlName="25watts" path="-1,1059,1083" isDoc="" nodeType="1082" creatorName="25 Watts" writerName="25 Watts" writerID="0" template="1053" nodeTypeAlias="watts">
      <edad><![CDATA[<?UMBRACO_MACRO macroAlias="RenderEdad" Edad="26" />]]></edad>
      <apellido><![CDATA[<?UMBRACO_MACRO macroAlias="RenderApellido" Apellido="Pra" />]]></apellido>
      <email><![CDATA[<?UMBRACO_MACRO macroAlias="RenderEmail" Email="fofipra@gmail.com" />]]></email>
      <nombre><![CDATA[<?UMBRACO_MACRO macroAlias="RenderNombre" Nombre="Adolfo" />]]></nombre>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Informacion del Postulante a visualizar",
                  "editor": {
                    "alias": "headline_centered"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "RenderApellido",
                    "macroParamsDictionary": {
                      "Apellido": "Pra"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "RenderNombre",
                    "macroParamsDictionary": {
                      "Nombre": "Adolfo"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "RenderEmail",
                    "macroParamsDictionary": {
                      "Email": "fofipra@gmail.com"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "RenderEdad",
                    "macroParamsDictionary": {
                      "Edad": "26"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "641cfe54-5d77-e24c-6c4f-d589a72d3558"
        }
      ]
    }
  ]
}]]></content>
    </watts>
  </Home>
</root>